/*FONT TYPEFACE*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*root colors*/
:root{
    --maincolor: #FF6767;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-family: 'Outfit', sans-serif;
}

.webappcontainer{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

[id*="_navbar"]{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    z-index: 14;
}

[id*="logocont"]{
    width: 150px;
    height: 60px;
    background-image: url('../imageitems/DeanLogo_betatest_2022.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

[id*="useracs_links"]{
    font-size: 20px;
    font-weight: 500;
    color: #676767;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

[id*="useracs_links"] div{
    margin: 0px 20px;
}

[id*="useracs_links"] div:nth-child(1){
    color: #000000;
    font-weight: 600;
    cursor: default;
}

[id*="_sectiontypehome"]{
    width: 100%;
    height: 700px;
    padding: 50px;
}

#usertoptext{
    font-size: 50px;
    font-weight: 700;
    color:#b4b4b4;
}

#useridsongupdatelist{
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[id*="apptypesonglist_"]{
    cursor: pointer;
    margin: 0px 30px;
}

[id*="apptypesonglist_"]:nth-child(1){
    cursor: pointer;
    margin: 0px 30px 0px 0px;
}

[id*="apptypesonglist_"]:hover [id*="imagecontainer_"]{
    box-shadow: 0px 25px 32px 1px rgba(0, 0, 0, 0.172);
    transform: translateY(-8px);
    transition: all 0.2s ease-in-out;
}

[id*="apptypesonglist_"]:hover [id*="_shadowcoverplay"]{
    height: 100%;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

[id*="imagecontainer_"]{
    width: clamp(100px, 200px, 300px);
    height: clamp(100px, 200px, 300px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 23px 29px 1px rgba(0, 0, 0, 0.11);
    position: relative;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}
[id*="_shadowcoverplay"]{
    width: 100%;
    height: 0%;
    background-image: linear-gradient(#00000070, #00000000);
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

[id*="_userplayiconall"]{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    top: 0;
    color: #ffffff;
}

[id*="imagecontainerplayer_"]{
    width: clamp(200px, 300px, 400px);
    height: clamp(200px, 300px, 400px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 23px 29px 1px rgba(0, 0, 0, 0.11);
    position: relative;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    margin-right: 50px;
}

#top_viewablecontenttitleetc{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#title_viewplayer{
    font-size: clamp(40px, 60px, 70px);
    font-weight: 800;
    color: #1d1d1d;
}

#artist_viewplayer{
    font-size: clamp(15px, 20px, 30px);
    font-weight: 700;
    color: #7B7B7B;
}

[id*="idviewablesongtitlequeue_"]{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: #ffffff;
    padding: 150px;
}

[id*="_userplayiconall"] span{
    font-size: clamp(30px, 40px, 50px);
}

[id*="apptypesonglist_"]:hover [id*="_userplayiconall"]{
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

[id*="appsongentitle"]{
    margin-top: 10px;
}
[id*="texttitle"]{
    font-size: clamp(15px, 23px, 30px);
    font-weight: 800;
    color:#1d1d1d;
}
[id*="textartist"]{
    font-size: clamp(8px, 17px, 20px);
    font-weight: 600;
    color: #959595;
}
[id*="_timelinelength"]{
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.13);
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: clamp(6px, 14px, 20px);
    font-weight: 600;
    color: #ff0000;
}

[id*="user_viewbasic"]{
    width: 100%;
    height: 100vh;
    padding: 50px;
}

#userbottom_miniplayer{
    width: 100%;
    height: 0px;
    position: fixed;
    bottom: 0;
    z-index: 16;
    background-color: #ffffff;
    box-shadow: 0px -6px 23px 1px rgba(0, 0, 0, 0.056);
    display: flex;
    flex-direction: row;
    transition: 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

#volumetracker_maximized{
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 0px 23px 1px rgba(0, 0, 0, 0.078);
    padding: 10px;
    margin-top: -40px;
    margin-left: 40px;
    border-radius: 5px;
}

#content_blank_usercontrols div{
    user-select: none;
}

#volumetracker_maximized input{
    color: var(--maincolor);
}

#imageviewablemini{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin: 20px;
    position: absolute;
    left: -190px;
    bottom: 15px;
    z-index: 20;
    box-shadow: 0px 23px 29px 1px rgba(0, 0, 0, 0.157);
}

#userdropdown_iconcontain{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

#userplaytimeline{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
}

#progressmodeplay{
    width: 90%;
    height: 8px;
    border-radius: 1rem;
    background-color: #c6c6c6;
    cursor: pointer;
    overflow: hidden;
}
#prgressbar{
    width: 0%;
    height: 100%;
    background-color: var(--maincolor);
    border-radius: 1rem;
}
#timestamps{
    margin-left: 20px;
}